.info__right {
    background: url(../img/statistic-image.png) no-repeat left center;
    background-size: 45% 100%;
    background-position: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 69px;

        @include phone {
                padding: 0px 0 0 50px;
            }

}
.info__article {
    max-width: 800px;
    min-height: 70vh;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;

    @include phone {
        flex-direction: column;
    }
}

.dark .info__article {
    background-color: rgba(22,25,38, 0.8);
}

.info__article-statistic {
    flex: 1;
    padding: 82px 0px 40px 40px;

    @include phone {
        display: block;
    margin: 50px 0 0 50px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    hr {
        @include hr;
        color: $green-font-color;
        background-color: $green-font-color;
        width: 82px;

        @include phone {
            display: none;
        }
    }

    @include phone {
        flex-direction: row;
        align-items: flex-start;
    }
}


.statistic__item {
    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;

        @include phone {
            font-size: $fs12;
            margin: 0px 0 0 50px;
            padding: 0px 0 0 50px;
        }
    }

    p {
        margin-bottom: 20px;
        width:250px;
        line-height: $additional-line-height;
        color: black;

        @include phone {
            font-size: $fs14;
            line-height: $additional-line-height;
            margin: 0 0 0 50px;
            padding: 0px 0 0 50px;
        }
    }
}

.statistic__item:nth-child(1),
.statistic__item:nth-child(3) {
    h2 {
        @include dollar;
    }
}

.info__article-text {
    flex: 1;
    padding: 52px 0px;

    @include phone {
        padding: 32px 12px 0 50px;
        font-size: $fs12;
    }

    p {
        margin-bottom: 32px;
        padding: 32px 0 0;
        color: black;

        &:nth-child(2) {
            margin-bottom: 40px;
        }
    }
}

.dark .info__article-text {
    p {
        color: white;
    }
}